.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
}

.gameActions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

    .action {
        font-size: 2rem;
        cursor: pointer;
        color: #ddd;
        &:hover {
            color: rgb(139, 222, 239);
        }
        margin: 0 5px;
    }
}

.resetButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: #ddd;
    &:hover {
        color: rgb(139, 222, 239)
    }
}


.dartboardContainer {
    min-height: 50vh;
    min-width: 500px 
}

.roundInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roundInfo .currentTarget {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: 2px solid red;
    border-radius: 10%;
    background: #ddd;
    margin: 1rem 0
}
.roundInfo .round {
    margin: 1rem 0;
    color: #ddd;
}

.roundActions {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    button {
        flex: 2;
        height: 2.5rem;
    }
    .missBtn {
        border-left: none;
        border-right: none;
    }
    .nextRoundBtn {
        flex: 3;
        flex-basis: 100%;
        border-top: none;
    }
    .undoBtn {
        flex: 1;
        cursor: not-allowed;
    }
}


.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    background: rgba(0,0,0, 0.8);
    top: 0; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completeMessage {
    // height: 50vh;
    width: 50vw;
    text-align: center;
    background: #ddd;
    display: flex;
    flex-direction: column;
    color: #3F4E4F;
    border-radius: 10px;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    section {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        width: 50%;
        align-self: center;
        margin-bottom: 15px;
    }
}

.tallyList {
    padding: 0;
    min-width: 200px;
    background: #176217;
    padding: 1rem;
    border-image: linear-gradient(#654403, #584724, #3f3522) 100;
    border-width: 1rem;
    border-style: solid;
}

.tallyListItem {
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;

    p {
        font-size: 2rem;
    }
}

.complete {
    opacity: 0.2;
    &:before {
        content: ' ';
        border-bottom: 4px solid rgb(245,249,173);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
    }
}

.tallyTarget {
    color: rgb(245,249,173);
    font-size: 3rem;
    font-weight: 600;
    min-width: 65px;
    border-right: 5px solid black;
    margin-right: 10px;
}
.tallyMarks {
    display: flex;
}
.tallyMark {
    width: 8px;
    height: 40px;
    background: rgb(245,249,173);
    margin-right: 5px;
    &:nth-child(5) {
        position: absolute;
        transform: rotate(-50deg);
        height: 60px;
        transform-origin: 1px 3px;
    }
}

.dartsThrown {
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}

.throwStatus {
    width: 100px;
    svg {
        fill: #ddd;
    }

    &.hit svg {
        fill: rgb(100, 250, 100);
    }
    &.miss svg {
        fill: rgb(247, 61, 61)
    }
}

.segmentList {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

.segmentAccuracy {
    border: 1px solid #000;
    border-radius: 10px;
    width: 100px;
    padding: 10px 0;
}

.accuracyBreakdown {
    padding: 10px 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.segmentName {
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}