@use '../../common/styles/index.scss';

@mixin blah {
    border-radius: 5px;
    background:green;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.link {
    button {
        height: 50px;
        width: 150px;
        margin: 0 15px;
        cursor: pointer;
    }
}