.App {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);
    box-sizing: border-box;
}